doctype html
html
    head
        title Aplicação para registo de teses
        meta(charset="UTF-8")
        meta(name="viewport" content="width=devide-width, initial-scale=1")
        link(rel="stylesheet" href="w3.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
    style(type="text/css").
        h1, h2, h3, h4, h5, span {
            font-family: 'Rubik', sans-serif;
        }
        p, td {
            font-family: 'Open Sans', sans-serif;
        }
        a:hover {
            color: black; 
            background-color: transparent;
            text-decoration: none;
        }
    body
        block corpo