extends layout-teal
block corpo
    .w3-section.w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h1 Aplicação para registo de teses
            ul(style="list-style-type: circle; padding: 5px;")
                li(style="margin-left: 35px; padding: 10px; font-size:20px;")
                    a(href='http://localhost:4006/registo', style="text-decoration:none") Registar Tese
                li(style="margin-left: 35px; padding: 10px; font-size:20px;")
                    a(href='http://localhost:4006/lista', style="text-decoration:none") Listar Teses    