extends layout-black
block corpo
    .w3-section.w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Registar Tese
            .w3-container
                form.w3-container(action='/processaForm', method='POST')
                    h2 Informação sobre o Aluno
                    label.w3-text-teal
                        b Nome
                    input.w3-input.w3-border.w3-light-grey(type='text', name='nome')
                    label.w3-text-teal
                        b Identificador
                    input.w3-input.w3-border.w3-light-grey(type='text', name='identificador')
                    label.w3-text-teal
                        b Curso
                    input.w3-input.w3-border.w3-light-grey(type='text', name='curso')
                    label.w3-text-teal
                        b Instituição
                    input.w3-input.w3-border.w3-light-grey(type='text', name='instituicao')
                    h2 Informação sobre a Tese
                    label.w3-text-teal
                        b Título
                    input.w3-input.w3-border.w3-light-grey(type='text', name='titulo')
                    label.w3-text-teal
                        b Data
                    input.w3-input.w3-border.w3-light-grey(type='text', name='data')
                    label.w3-text-teal
                        b Tipo
                    input.w3-input.w3-border.w3-light-grey(type='radio', name='tipo', value='Mestrado')
                    span Mestrado
                    input.w3-input.w3-border.w3-light-grey(type='radio', name='tipo', value='Doutoramento') 
                    span Doutoramento
                    .w3-margin.w3-center
                        input.w3-btn.w3-blue-grey(type='submit', value='Enviar')
            footer.w3-container.w3-teal
                address 
                    i
                        a(href='http://localhost:4006/paginicial', style="text-decoration:none") Voltar à página inicial



